<div style="background-color: orange">
<a id='TableOfContents'></a>
    <b><u><i><h1 style='text-align: center'>
        Table of Contents
    </h1></i></u></b>
<li><a href='#imports'>Imports</a></li>
<li><a href='#zillow'>Zillow Set</a></li>
<li><a href='#mall'>Mall Set</a></li>

<div style='background-color: orange'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align: center'>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Vectorization & Dataframe
import numpy as np
import pandas as pd

# Visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# Scaling (sklearn)
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer

# .py files
import wrangle as w

<div style='background-color: orange'>
<a id='zillow'></a>
    <b><u><i><h1 style='text-align: center'>
        Zillow Set
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#as1'>Acquire and Summarize // Q1</a></li>
<li><a href='#as2'>Acquire and Summarize // Q2</a></li>
<li><a href='#as3'>Acquire and Summarize // Q3</a></li>
<li><a href='#p1'>Prepare // Q1</a></li>
<li><a href='#p2'>Prepare // Q2</a></li>
<li><a href='#p3'>Prepare // Q3</a></li>

<a id='as1'></a>
### Acquire and Summarize // Q1:
<li><a href='#zillow'>Zillow Set</a></li>

1. Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [2]:
# Acquire le dataset
zillow = w.acquire_zillow()

In [3]:
zillow.shape

(77609, 68)

In [4]:
# Drop na long/lat rows
zillow.dropna(subset=['latitude', 'longitude'], inplace=True)

In [5]:
zillow.shape

(77575, 68)

---

<a id='as2'></a>
### Acquire and Summarize // Q2:
<li><a href='#zillow'>Zillow Set</a></li>

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [6]:
zillow.describe().T

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,77575.0,2.618245e+02,5.141701e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
heatingorsystemtypeid,49570.0,3.921707e+00,3.594804e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,25006.0,1.812045e+00,2.965823e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
parcelid,77575.0,1.300630e+07,3.478021e+06,1.071186e+07,1.153820e+07,1.253053e+07,1.421124e+07,1.676893e+08
logerror,77575.0,1.680199e-02,1.707427e-01,-4.655420e+00,-2.431125e-02,6.672268e-03,3.929142e-02,5.262999e+00
id,77575.0,1.495352e+06,8.609703e+05,3.490000e+02,7.521050e+05,1.498195e+06,2.240715e+06,2.982274e+06
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77575.0,2.298518e+00,9.966998e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77575.0,3.053252e+00,1.140440e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,49809.0,6.533779e+00,1.722062e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76960.0,2.316385e+00,9.796845e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6035.0,1.366198e+03,6.708036e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77375.0,1.784939e+03,9.542625e+02,1.280000e+02,1.182000e+03,1.542000e+03,2.112000e+03,3.564000e+04
finishedsquarefeet12,73920.0,1.760287e+03,9.343648e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.075000e+03,2.192900e+04
finishedsquarefeet13,42.0,1.388762e+03,1.222209e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3027.0,2.354491e+03,1.186985e+03,5.980000e+02,1.624000e+03,2.088000e+03,2.831000e+03,3.564000e+04
finishedsquarefeet50,6035.0,1.381427e+03,7.259040e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621000e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77575.0,6.048813e+03,2.074531e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8287.0,1.191263e+00,4.910308e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76960.0,2.250104e+00,9.664791e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25517.0,1.815339e+00,5.883289e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25517.0,3.500558e+02,2.616516e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.920000e+02,4.251000e+03
hashottuborspa,1539.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,77575.0,3.400837e+07,2.652878e+05,3.333953e+07,3.381463e+07,3.402200e+07,3.417431e+07,3.481877e+07
longitude,77575.0,-1.182037e+08,3.593826e+05,-1.194754e+08,-1.184150e+08,-1.181810e+08,-1.179286e+08,-1.175546e+08
lotsizesquarefeet,69318.0,2.997445e+04,1.233076e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183700e+04,6.971010e+06
poolcnt,16173.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,869.0,5.179310e+02,1.565697e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,465.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15078.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,77575.0,6.049123e+07,2.058768e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,76103.0,3.368339e+04,4.721286e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77575.0,2.534536e+03,8.014499e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30973.0,1.877303e+05,1.650452e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77525.0,9.658668e+04,3.793649e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77575.0,1.476120e+00,2.823600e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
threequarterbathnbr,10105.0,1.009599e+00,1.185776e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50703.0,1.110309e+00,1.169967e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2393.0,3.054609e+02,2.387352e+02,1.100000e+01,1.700000e+02,2.500000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77306.0,1.968611e+03,2.379320e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17596.0,1.434246e+00,5.445184e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77460.0,1.892815e+05,2.304137e+05,4.400000e+01,8.418200e+04,1.364045e+05,2.187340e+05,1.142179e+07
taxvaluedollarcnt,77574.0,4.901447e+05,6.538022e+05,1.000000e+03,2.068985e+05,3.588785e+05,5.690000e+05,4.906124e+07
assessmentyear,77575.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77573.0,3.011453e+05,4.927287e+05,1.610000e+02,8.529300e+04,2.031740e+05,3.667530e+05,4.895220e+07
taxamount,77570.0,5.995822e+03,7.628869e+03,1.992000e+01,2.712630e+03,4.448265e+03,6.926785e+03,5.866393e+05
taxdelinquencyyear,2900.0,1.408828e+01,2.181281e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77328.0,6.049666e+13,1.533376e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14

---

<a id='as3'></a>
### Acquire and Summarize // Q3:
<li><a href='#zillow'>Zillow Set</a></li>

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

The output should look like the table below:

|  | num_rows_missing | pct_rows_missing |
| :----- | :-----: | :-----: |
| parcelid | 0 | 0.000000 |
| airconditioningtypeid	| 29041 | 0.535486 |
|architecturalstyletypeid | 54232 | 0.999982 |

In [7]:
def null_sum(df):
    '''
    Takes in a dataframe and returns a dataframe of the summarized nulls for each column.
    
    INPUT:
    df = pandas dataframe
    
    OUTPUT:
    nulls_df = pandas dataframe with summarized nulls of inputted dataframe
    '''
    df_features = df.columns.to_list()
    df_nullcnt = df.isna().sum().to_list()
    df_nullpct = round((df.isna().sum() / df.shape[0]), 4).to_list()
    temp_dict = {
    'feature_name' : df_features,
    'null_cnt' : df_nullcnt,
    'null_pct' : df_nullpct
    }
    nulls_df = pd.DataFrame(temp_dict).set_index('feature_name')
    return nulls_df

In [8]:
nulls_df = null_sum(zillow)

In [9]:
nulls_df

                        null_cnt  null_pct
feature_name
typeconstructiontypeid     77353    0.9971
storytypeid                77525    0.9994
propertylandusetypeid          0    0.0000
heatingorsystemtypeid      28005    0.3610
buildingclasstypeid        77560    0.9998
...                          ...       ...
buildingclassdesc          77560    0.9998
heatingorsystemdesc        28005    0.3610
propertylandusedesc            0    0.0000
storydesc                  77525    0.9994
typeconstructiondesc       77353    0.9971

[68 rows x 2 columns]

---

<a id='p1'></a>
### Prepare // Q1:
<li><a href='#zillow'>Zillow Set</a></li>

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [10]:
# Only get single family
new_zillow = zillow[zillow.propertylandusedesc == 'Single Family Residential']

---

<a id='p2'></a>
### Prepare // Q2:
<li><a href='#zillow'>Zillow Set</a></li>

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
    - A dataframe
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- Hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [11]:
def drop_nulls(df, percent):
    '''
    Takes in a dataframe and a percent cutoff to return a dataframe with all the columns that are within the cutoff percentage.
    
    INPUT:
    df = pandas dataframe
    percent = Null percent cutoff. (0.00)
    
    OUTPUT:
    new_df = pandas dataframe with all columns that are within the cutoff percentage.
    '''
    original_cols = df.columns.to_list()
    drop_cols = []
    for col in original_cols:
        null_pct = df[col].isna().sum() / df.shape[0]
        if null_pct > percent:
            drop_cols.append(col)
    new_df = df.drop(columns=drop_cols)
    return new_df

In [12]:
new_zillow = drop_nulls(new_zillow, 0.25)

In [13]:
new_zillow

,propertylandusetypeid,parcelid,logerror,maxtransactiondate,id,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,propertylandusedesc
0,261.0,14297519,0.025595,2017-01-01,1727539,3.5,4.0,3.5,3100.0,3100.0,...,96978.0,0.0,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,Single Family Residential
1,261.0,17052889,0.055619,2017-01-01,1387261,1.0,2.0,1.0,1465.0,1465.0,...,97099.0,5.0,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,Single Family Residential
2,261.0,14186244,0.005383,2017-01-01,11677,2.0,3.0,2.0,1243.0,1243.0,...,97078.0,6.0,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,Single Family Residential
3,261.0,12177905,-0.103410,2017-01-01,2288172,3.0,4.0,3.0,2376.0,2376.0,...,96330.0,0.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,Single Family Residential
6,261.0,12095076,-0.001011,2017-01-01,781532,3.0,4.0,3.0,2962.0,2962.0,...,96293.0,0.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77603,261.0,12412492,0.001082,2017-09-19,2274245,2.0,4.0,2.0,1633.0,1633.0,...,96204.0,0.0,1962.0,125466.0,346534.0,2016.0,221068.0,4175.08,6.037555e+13,Single Family Residential
77605,261.0,11000655,0.020615,2017-09-20,673515,2.0,2.0,2.0,1286.0,1286.0,...,96284.0,0.0,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,Single Family Residential
77606,261.0,17239384,0.013209,2017-09-21,2968375,2.0,4.0,2.0,1612.0,1612.0,...,97116.0,7.0,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,Single Family Residential
77607,261.0,12773139,0.037129,2017-09-21,1843709,1.0,3.0,1.0,1032.0,1032.0,...,96480.0,0.0,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,Single Family Residential
77608,261.0,12826780,0.007204,2017-09-25,1187175,2.0,3.0,2.0,1762.0,1762.0,...,96171.0,0.0,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,Single Family Residential

---

<a id='p3'></a>
### Prepare // Q3:
<li><a href='#zillow'>Zillow Set</a></li>

3. Encapsulate your work inside of functions in a wrangle_zillow.py module.

In [14]:
print('\033[32mCOMPLETED\033[0m')

COMPLETED

In [2]:
train, validate, test = w.wrangle_zillow()

train.shape:(29365, 19)
validate.shape:(12586, 19)
test.shape:(10488, 19)

<div style='background-color: orange'>
<a id='mall'></a>
    <b><u><i><h1 style='text-align: center'>
        Mall Set
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#mallacquire'>Acquire // Q1</a></li>
<li><a href='#mallsum'>Summary // Q2</a></li>
<li><a href='#malloutlier'>Outliers // Q3</a></li>
<li><a href='#mallsplit'>Split // Q4</a></li>
<li><a href='#mallencode'>Encode // Q5</a></li>
<li><a href='#mallmiss'>Nulls // Q6</a></li>
<li><a href='#mallscale'>Scaling // Q7</a></li>

<a id='mallacquire'></a>
### Acquire // Q1:
<li><a href='#mall'>Mall Set</a></li>

1. Acquire data from the customers table in the mall_customers database.

In [ ]:
mall = w.acquire_mall()

---

<a id='mallsum'></a>
### Summary // Q2:
<li><a href='#mall'>Mall Set</a></li>

2. Summarize the data (include distributions and descriptive statistics).

In [ ]:
mall.describe().T

---

<a id='malloutlier'></a>
### Outliers // Q3:
<li><a href='#mall'>Mall Set</a></li>

3. Detect outliers using IQR.

In [ ]:
def remove_outliers(df, col_list, k=1.5):
    '''
    remove outliers from a dataframe based on a list of columns using the tukey method
    returns a single dataframe with outliers removed
    '''
    col_qs = {}
    for col in col_list:
        col_qs[col] = q1, q3 = df[col].quantile([0.25, 0.75])
    for col in col_list:
        iqr = col_qs[col][0.75] - col_qs[col][0.25]
        lower_fence = col_qs[col][0.25] - (k*iqr)
        upper_fence = col_qs[col][0.75] + (k*iqr)
        df = df[(df[col] > lower_fence) & (df[col] < upper_fence)]
    return df

In [ ]:
cols = [
    'age',
    'annual_income', 
    'spending_score'
]

In [ ]:
new_mall = w.remove_outliers(mall, cols)
new_mall

---

<a id='mallsplit'></a>
### Split // Q4:
<li><a href='#mall'>Mall Set</a></li>

4. Split data into train, validate, and test.

In [ ]:
train, validate, test = w.split(new_mall)

---

<a id='mallencode'></a>
### Encode // Q5:
<li><a href='#mall'>Mall Set</a></li>

5. Encode categorical columns using a one hot encoder (pd.get_dummies).

In [ ]:
dummies = pd.get_dummies(new_mall.select_dtypes(include='object'))
new_mall = pd.concat([new_mall, dummies], axis=1)
new_mall = new_mall.select_dtypes(exclude='object')
new_mall

---

<a id='mallmiss'></a>
### Nulls // Q6:
<li><a href='#mall'>Mall Set</a></li>

6. Handles missing values.

In [ ]:
new_mall.isna().sum()

---

<a id='mallscale'></a>
### Scaling // Q7:
<li><a href='#mall'>Mall Set</a></li>

7. Scaling

In [ ]:
train, validate, test = w.scale(train, validate, test, cols, MinMaxScaler())

In [ ]:
train, validate, test = w.wrangle_mall()